$red: #EC0B43;
$blue: #0085F3;
$yellow: #FDB631;
$orange: #E67E22;
$green: #75E4B3;
$gray: #30343F;
$principal-btn-gray: #C2C2C2;
$secondary-btn-gray: #C2C2C2;
$clearer-gray: #000000;

$light-gray: #F4F4F4;
$medium-gray: #C2C2C2;
$strong-gray: #46494C;

