<header class="main-header alternate fixed-header">
  <div class="main-box">
    <div class="auto-container">
      <div class="outer-container clearfix">
        <div class="logo-box">
          <div class="navee-logo"><a href="/"><figure class="logo-wording"><img src="../assets/logo_boat_wording.png" alt=""></figure></a></div>
          </div>

          <div class="nav-outer clearfix">
            <% if user_signed_in? %>
              <nav class="main-menu">
                  <div class="navbar-collapse collapse scroll-nav clearfix">
                    <ul class="navigation clearfix">
                      <li><%= link_to "Dashboard", posts_path %>
                      </li>
                     </ul>
                  </div>
              </nav>
              <% end %>
              <div class="other-links">
                <% if user_signed_in? %>

                  <%= link_to destroy_user_session_path, class:"theme-btn btn-style-one",method: :delete do %>
                      <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                <% else %>
                  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "theme-btn btn-style-one" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
</header>
