 <%= render 'shared/navbar_alternate' %>
 <section class="main-banner banner-one" id="banner">
      <div class="auto-container">
          <div class="row clearfix">
              <!--Text Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                  <div class="inner">
                    <h4>Scams detection for real estate platforms</h4>
                    <h2>Barinomi</h2>
                    <p>Gear 1: Improve your ability to detect scams</p>
                    <%= link_to "Flag posts", posts_path, class: "theme-btn btn-style-two"%>
                  </div>
                </div>

                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                  <div class="inner">
                      <figure class="image"><img src="assets/banner-image-2.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
