// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "config/colors";

// 1. Index design

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 5px;
  box-shadow: 1px 1px 7px $gray;
  opacity: 0.8;
}

.card:hover {
  box-shadow: none;
  opacity: 1;
  transition: ease;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.card-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

.card-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  width: 155px;
}
.card-rent {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-surface {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

.fraudulent-label {
  background-color: #F21B3F;
}

.not-checked-label {
  background-color: $gray;
}

.legit-label {
  background-color: #0085F3;
}

.to-check-label {
  background-color: #FF9914;
}

// 3. Show design

.description-box {
  width:400px;
  height:255px;
  overflow: auto;
}

.overflow-visible {
  overflow: visible;
}

.flexbox {
  display: flex;
  border-bottom: 1px solid;
  border-color: #1f8ceb;
  margin-bottom: 30px;
}

.flexbox .theme-btn {
  margin: 10px;
  margin-bottom: 40px;
}

.error {
  background-color: #0085F3;
  color: white;
  padding: 1px;
  border-radius: 2px;
}

.card-picture {
  max-width: 400px;
}

.display-none {
  display: none;
}

.reverse-picture-results {
  padding: 70px;
  overflow: auto;
  max-height: 175px;
  margin: inherit;
  text-align: center;
}

