
.testimonials-section{
  position:relative;
  background:#ffffff;
  padding:130px 0px 170px;
  border-bottom:1px solid rgba(31,140,235,0.30);
  overflow:hidden;
}

.testimonials-section .outer-container{
  position:relative;
}

.testimonials-section .outer-container:before{
  content:'';
  position:absolute;
  right:-230px;
  bottom:-160px;
  width:660px;
  height:670px;
  background:url(../images/background/bg-shape-four.png) center right no-repeat;
}

.testimonials-carousel-one{
  position:relative;
}

.testimonials-carousel-one .text-column{
  position:relative;
}

.testimonials-carousel-one .text-column .inner{
  position:relative;
}

.testimonials-carousel-one .text-column .text{
  font-size:30px;
  font-weight:300;
  line-height:1.4em;
  color:#3b566e;
  font-style:italic;
}

.testimonials-carousel-one .info-column .inner{
  position:relative;
  padding-top:25px;
  text-align:right;
}

.testimonials-carousel-one .info-column .info{
  position:relative;
  text-align:left;
  display:inline-block;
  min-height:66px;
  padding-top:10px;
  padding-left:96px;
  font-size:14px;
  color:#6f8ba4;
}

.testimonials-carousel-one .info-column .info h4{
  font-size:17px;
  color:#3b566e;
}

.testimonials-carousel-one .info-column .info .thumb{
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
  border:1px solid #1f8ceb;
}

.testimonials-carousel-one .owl-nav{
  display:none;
}

.testimonials-carousel-one .owl-dots{
  position:absolute;
  left:0px;
  bottom:-60px;
  width:100%;
}

.testimonials-carousel-one .owl-dots .owl-dot{
  position:relative;
  display:inline-block;
  margin:0px 10px 0px 0px;
}

.testimonials-carousel-one .owl-dots .owl-dot span{
  position:relative;
  display:block;
  width:16px;
  height:16px;
  border:2px solid #1f8ceb;
  border-radius:50%;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  -webkit-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -o-transform:scale(0.7);
  -moz-transform:scale(0.7);
  transform:scale(0.7);
}

.testimonials-carousel-one .owl-dots .owl-dot.active span{
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  -moz-transform:scale(1);
  transform:scale(1);
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

/*
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.testimonials-two{
  position:relative;
  background:#F9FBFE;
  padding:0px 0px 190px;
}

.testimonials-two .auto-container{
  position:relative;
  max-width:1220px;
}

.testimonial-style-two .slide-item{
  position:relative;
}

.testimonial-style-two .slide-item .inner{
  position:relative;
  padding:40px 40px 40px 45px;
  margin:10px 10px;
  background:#ffffff url(../images/background/bg-shape-six.png) left bottom no-repeat;
  border-radius:5px;
  -webkit-box-shadow:0px 0px 7px 0px rgba(0,0,0,0.07);
  -ms-box-shadow:0px 0px 7px 0px rgba(0,0,0,0.07);
  -o-box-shadow:0px 0px 7px 0px rgba(0,0,0,0.07);
  -moz-box-shadow:0px 0px 7px 0px rgba(0,0,0,0.07);
  box-shadow:0px 0px 7px 0px rgba(0,0,0,0.07);
}

.testimonial-style-two .slide-item .quote-icon{
  position:relative;
  width:40px;
  height:36px;
  background:url(../images/icons/icon-quote-1.png) left top no-repeat;
  margin-bottom:25px;
}

.testimonial-style-two .slide-item .text{
  color:#466077;
  font-weight:300;
  margin-bottom:45px;
}

.testimonial-style-two .slide-item .quote-info{
  position:relative;
  padding-left:100px;
  font-size:14px;
  min-height:74px;
  padding-top:10px;
}

.testimonial-style-two .slide-item .quote-info .thumb{
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
  border:2px solid #ffffff;
}

.testimonial-style-two .slide-item .quote-info h4{
  font-size:17px;
  color:#3b566e;
  text-transform:capitalize;
}

.testimonials-two .owl-nav{
  display:none;
}

.testimonials-two .owl-dots{
  position:absolute;
  left:0px;
  bottom:-60px;
  width:100%;
  text-align:center;
}

.testimonials-two .owl-dots .owl-dot{
  position:relative;
  display:inline-block;
  margin:0px 5px;
}

.testimonials-two .owl-dots .owl-dot span{
  position:relative;
  display:block;
  width:14px;
  height:14px;
  border:2px solid #1f8ceb;
  border-radius:50%;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  -webkit-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -o-transform:scale(0.7);
  -moz-transform:scale(0.7);
  transform:scale(0.7);
}

.testimonials-two .owl-dots .owl-dot.active span{
  background:#1f8ceb;
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  -moz-transform:scale(1);
  transform:scale(1);
}
