.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100vh; z-index:999999; background-color:white; background-position:center center; background-repeat:no-repeat; background-image:url(../assets/loader_small.gif);}

.preloader-hidden {
  display: none;
}

.preloader-barinomi {position:fixed; left:0px; top:0px; width:100%; height:100vh; z-index:999999; background-color:white; background-position:center center; background-repeat:no-repeat; background-image:url(../assets/loader_small.gif);}
