//Navbar Le Wagon
.navee-logo {
  width: 200px;
}
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #0085F3;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1000;
  font-family: 'Gothic A1', sans-serif;;
  font-size: 25px;
}

.navbar-wagon  a {
  color: white;
}

.navbar-wagon a:hover {
  font-decoration: none;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.fa-sign-out {
  font-size: 20px;
}


// Navbar Spring Theme

.scroll-to-top{
  position:fixed;
  bottom:20px;
  right:20px;
  width:60px;
  height:60px;
  color:#ffffff;
  font-size:20px;
  text-transform:uppercase;
  line-height:60px;
  text-align:center;
  z-index:100;
  cursor:pointer;
  background:#222222;
  display:none;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.scroll-to-top:hover{
  color:#ffffff;
  background:#1f8ceb;
}

.main-header{
  position:absolute;
  left:0px;
  top:0px;
  z-index:99;
  width:100%;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-header .auto-container{
  position:relative;
  max-width:1800px;
}

.main-header.alternate .auto-container,
.main-header.header-style-two .auto-container{
  max-width:1200px;
}

.main-header .main-box{
  position:relative;
  left:0px;
  top:30px;
  width:100%;
  padding:0px 50px;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-header.header-style-two .main-box{
  top:0px;
  background:rgba(255,255,255,0.30);
}

.main-header .main-box:after{
  content:'';
  position:absolute;
  left:0px;
  top:100%;
  height:0px;
  width:100%;
  opacity:0;
  border-bottom:1px solid rgba(0,0,0,0.10);
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;

}

.main-header.fixed-header .main-box:after,
.main-header.header-style-two .main-box:after{
  opacity:1;
}

.main-header.fixed-header .main-box{
  position:fixed;
  top:0px;
  z-index:999;
  opacity:1;
  visibility:visible;
  background-color:#ffffff;
}

.main-header.header-style-two.fixed-header .main-box{
  top:0px;
  background:rgba(0,0,0,0.90);
}

.main-header .main-box .outer-container{
  position:relative;
}

.main-header .main-box .logo-box{
  position:relative;
  float:left;
  left:0px;
  padding:15px 0px;
}

.main-header .main-box .logo-box .logo img{
  display:inline-block;
  max-width:100%;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-header .nav-outer{
  position:relative;
  float:right;
}

.main-header .nav-outer .other-links{
  position:relative;
  float:left;
  padding-top:20px;
  margin-left:50px;
}

.main-header.header-style-two .nav-outer .other-links{
  margin-left:30px;
}

.main-header .nav-outer .other-links .btn-style-one{
  padding:7px 40px;
}

.main-header.alternate .nav-outer .other-links .theme-btn{
  text-transform:capitalize;
  padding:7px 32px;
}

.main-header.header-style-two .nav-outer .other-links .theme-btn{
  position:relative;
  text-transform:capitalize;
  color:#ffffff;
  top:7px;
  line-height:18px;
  font-size:16px;
  padding:2px 0px 0px 25px;
  border-left:1px solid #ffffff;
}

.main-header.header-style-two .nav-outer .other-links .theme-btn:hover{
  text-decoration:underline;
}

.main-menu{
  position:relative;
  float:left;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-menu .navbar-collapse{
  padding:0px;
}

.main-menu .navigation{
  position:relative;
  font-family: 'Heebo', sans-serif;
}

.main-menu .navigation > li{
  position:relative;
  float:left;
  margin:0px 0px 0px 40px;
}

.main-menu .navigation > li > a{
  position:relative;
  display:block;
  color:#51718c;
  line-height:30px;
  text-transform:capitalize;
  letter-spacing:0.01em;
  opacity:1;
  padding:25px 0px;
  font-size:18px;
  font-weight:400;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.header-style-two .main-menu .navigation > li > a{
  color:#ffffff;
}

.main-menu .navigation > li > a:before{
  content:'';
  position:absolute;
  left:0px;
  bottom:20px;
  width:0px;
  border-bottom:2px solid #1f8ceb;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.header-style-two .main-menu .navigation > li > a:before{
  bottom:auto;
  top:0px;
  border-bottom-color:#ffffff;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a{
  color:#1f8ceb;
  opacity:1;
}

.header-style-two .main-menu .navigation > li:hover > a,
.header-style-two .main-menu .navigation > li.current > a,
.header-style-two .main-menu .navigation > li.current-menu-item > a{
  color:#ffffff;
}

.main-menu .navigation > li:hover > a:before,
.main-menu .navigation > li.current > a:before,
.main-menu .navigation > li.current-menu-item > a:before{
  width:22px;
}

.header-style-two .main-menu .navigation > li:hover > a:before,
.header-style-two .main-menu .navigation > li.current > a:before,
.header-style-two .main-menu .navigation > li.current-menu-item > a:before{
  width:100%;
}

.main-menu .navigation > li > ul{
  position:absolute;
  left:0px;
  top:100%;
  width:240px;
  padding:0px;
  z-index:100;
  display:none;
  background:#ffffff;
  border-top:2px solid #1f8ceb;
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul.from-right{
  left:auto;
  right:100%;
}

.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
  border-bottom:1px solid rgba(0,0,0,0.15);
}

.main-menu .navigation > li > ul > li:last-child{
  border-bottom:none;
}

.main-menu .navigation > li > ul > li > a{
  position:relative;
  display:block;
  padding:12px 20px;
  line-height:22px;
  font-weight:400;
  font-size:15px;
  text-transform:capitalize;
  color:#222222;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a{
  background:#3b566e;
  color:#ffffff;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
  font-family: 'FontAwesome';
  content: "\f105";
  position:absolute;
  right:10px;
  top:12px;
  width:10px;
  height:20px;
  display:block;
  line-height:20px;
  font-size:16px;
  font-weight:normal;
  text-align:center;
  z-index:5;
}

.main-menu .navigation > li > ul > li > ul{
  position:absolute;
  left:100%;
  top:20px;
  width:220px;
  padding:0px;
  z-index:100;
  display:none;
  background:#ffffff;
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li > ul > li > ul > li{
  position:relative;
  width:100%;
  border-bottom:1px solid rgba(0,0,0,0.15);
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none;
}

.main-menu .navigation > li > ul > li  > ul > li > a{
  position:relative;
  display:block;
  padding:12px 20px;
  line-height:22px;
  font-weight:400;
  font-size:13px;
  text-transform:capitalize;
  color:#222222;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li  > ul > li > a:hover{
  background:#1f8ceb;
  color:#ffffff;
}

.main-menu .navigation > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  top:100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  top:0px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
  position:absolute;
  right:10px;
  top:6px;
  width:34px;
  height:30px;
  border:1px solid #ffffff;
  text-align:center;
  font-size:18px;
  line-height:28px;
  color:#3b566e;
  background:#ffffff;
  cursor:pointer;
  z-index:5;
  display:none;
}
