.response-api {
  display:none;
}

#barinomi-analysis {
  padding: 0px;
}

.duplicate-number {
  position: absolute;
  top: 0px;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  padding: 12px 45px;
  line-height: 12px;
  background: #0085F3;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  height: 35px;
}

.picture-type {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 15px;
  padding: 10px;
  padding: 12px 45px;
  line-height: 12px;
  background: #0085F3;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  border-radius: 4px;
  height: 35px;
}

.syntax-errors {
  background-color: #0085F3;
  // color: white !important;
}

.number-of-posts {
  background-color: #0085F3;
  color: white !important;
  padding: 3px;
  border-radius: 4px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  display: inline;
}
